<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Page</title>

    <style>
        h2 {
            font-family: Arial, sans-serif; /* 设置字体为Arial或sans-serif */
            font-size: 24px; /* 设置字体大小为24像素 */
            font-weight: bold; /* 设置字体加粗 */
            color: red; /* 设置字体颜色为深灰色 */
        }

        h3 {
            font-family: Arial, sans-serif; /* 设置字体为Arial或sans-serif */
            font-weight: bold; /* 设置字体加粗 */
            color: red; /* 设置字体颜色为深灰色 */
        }
    </style>

</head>
<body>

<h2>{{status}}</h2>

</body>
</html>
